# map()

In [163]:
sarasas = [4, 3, 2, 1]

sarasas_2 = []
for skaicius in sarasas:
    sarasas_2.append(skaicius ** 2)

print(sarasas_2)

[16, 9, 4, 1]

# filter()

In [164]:
sarasas
lyginiai = []
for skaicius in sarasas:
    if skaicius % 2 == 0:
        lyginiai.append(skaicius)
lyginiai

[4, 2]

In [165]:
pirmas, antras = filter(lambda skaicius: skaicius % 2 == 0, sarasas)
pirmas, antras

(4, 2)

In [153]:
from calendar import isleap
metai = range(1900, 2105)
keliamieji = filter(isleap, metai)
list(keliamieji)

[1904,
 1908,
 1912,
 1916,
 1920,
 1924,
 1928,
 1932,
 1936,
 1940,
 1944,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016,
 2020,
 2024,
 2028,
 2032,
 2036,
 2040,
 2044,
 2048,
 2052,
 2056,
 2060,
 2064,
 2068,
 2072,
 2076,
 2080,
 2084,
 2088,
 2092,
 2096,
 2104]

# reduce()

In [ ]:
from functools import reduce


suma = reduce(lambda dedamoji, skaicius: dedamoji * skaicius, sarasas)
suma

In [ ]:
from functools import reduce


suma = reduce(lambda dedamoji, skaicius: dedamoji * skaicius, sarasas)
suma

# ListComprehention()

In [ ]:
saraselis = [5, 3, -1, 7, -6, 0, 1, 4]
daugiau_uz_2 = [skaicius for skaicius in saraselis if skaicius > 2]
daugiau_uz_2

In [ ]:
lyginis = [skaicius for skaicius in saraselis if skaicius % 2 == 0]
lyginis

In [ ]:
kvadratai = (skaicius **2 for skaicius in saraselis)
list(kvadratai)

In [ ]:
kreivi_duomenys = (100, -5, 17, 'kibiras', 33, 'stikline')
# suma = sum(type(skaicius) is int for skaicius in kreivi_duomenys)
suma = sum(skaicius for skaicius in kreivi_duomenys if type(skaicius) is int )
suma

# sort() ir sorted()

In [ ]:
# saraselis.sort()
saraselis

In [ ]:
isrusiuotas = sorted(saraselis)
isrusiuotas, saraselis

In [ ]:
atbulai = sorted(saraselis, reverse=True)
atbulai

In [ ]:
tupliux = (7, 88, 9, -77, 42, 23, 77)
pertupliuotas = sorted(tupliux)
pertupliuotas

In [ ]:
zodynas = {"vardas": "romas", "pavarde": "otas", "amzius": "dar jaunas"}
pagerintas = sorted(zodynas)
# pagerintas
[zodynas[raktas] for raktas in pagerintas]

In [ ]:
pagal_reiksme = sorted(zodynas.items(), key=lambda item: item[1])
pagal_reiksme

In [ ]:
sorted(saraselis, key=abs)

# Objekts

In [191]:
class Darbuotojas:
    def __init__ (self, vardas, pavarde, atlyginimas = 0):
        self.vardas = vardas
        self.pavarde = pavarde
        self.atlyginimas = atlyginimas

    def __repr__(self):
        return f"{self.vardas} {self.pavarde} uzdirba {self.atlyginimas} euru"



d1 = Darbuotojas('Kestutis', 'Januskevicius', 5000)
d2 = Darbuotojas('Geras', 'Pytoniskas', 10000)
d3 = Darbuotojas('Zinomas', 'Tuberis', 25000)
d4 = Darbuotojas('Lietuvos', 'Prezidentas', 17000)

darbuotojai = [d1, d2, d3, d4]

# rusiavimas pagar darbuotojo varda
def rusiavimas_pagal_varda(betkas):
    if isinstance(betkas, Darbuotojas):
        return betkas.vardas
    return betkas
    
# rusiavimas pagal atlyginima
def rusiavimas_pagal_atlyginima(darbuotojo_klase):
    return darbuotojo_klase.atlyginimas

surusiuoti = sorted(darbuotojai, key=rusiavimas_pagal_varda)
surusiuoti

[Geras Pytoniskas uzdirba 10000 euru,
 Kestutis Januskevicius uzdirba 5000 euru,
 Lietuvos Prezidentas uzdirba 17000 euru,
 Zinomas Tuberis uzdirba 25000 euru]

In [192]:
surusiuoti = sorted(darbuotojai, key= lambda darbuotojas: darbuotojas.atlyginimas)
surusiuoti

[Kestutis Januskevicius uzdirba 5000 euru,
 Geras Pytoniskas uzdirba 10000 euru,
 Lietuvos Prezidentas uzdirba 17000 euru,
 Zinomas Tuberis uzdirba 25000 euru]

In [193]:
from operator import attrgetter
surusiuoti = sorted(darbuotojai, key=attrgetter("pavarde"))
surusiuoti

[Kestutis Januskevicius uzdirba 5000 euru,
 Lietuvos Prezidentas uzdirba 17000 euru,
 Geras Pytoniskas uzdirba 10000 euru,
 Zinomas Tuberis uzdirba 25000 euru]

# Uzduotys

In [ ]:
zen = """The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!"""
words = [word + "!" for word in zen.split()]
" ".join(words)

In [ ]:
numbers = list(range(0, 50))
# [number * 10 for number in  list(range(0, 50))]

In [ ]:
seventh = [number for number in  list(range(0, 50)) if number % 7 == 0]
seventh

In [ ]:
twotimestwo = [number ** 2 for number in numbers]
# twotimestwo

In [ ]:
from statistics import mean, median

# sum(twotimestwo),min(twotimestwo),max(twotimestwo),mean(twotimestwo),median(twotimestwo)

In [ ]:
sorted(twotimestwo, reverse=True)

In [174]:
sarasas = [2.5, 2, "Labas", True, 5, 7, 8, 2.8, "Vakaras"]
sum(element for element in sarasas if type(element) is int or type(element) is float)

27.3

In [148]:
str_words = [word for word in sarasas if type(word) is str]
" ".join(str_words)

'Labas Vakaras'

In [178]:
sum([type(is_bool) is bool for is_bool in sarasas])

1

In [195]:
class Zmogus():
    def __init__(self, vardas, amzius):
        self.vardas = vardas
        self.amzius = amzius

    def __repr__(self):
        return f"{self.vardas}: {self.amzius}"

person1 = Zmogus("Romas", 30)
person2 = Zmogus("Lukas", 13)
person3 = Zmogus("Domas", 55)
person4 = Zmogus("Klaudija", 20)

persons = [person1, person2, person3, person4]

def pagal_varda(persons):
    return persons.vardas

def pagal_amziu(persons):
    return persons.amzius

surusiuoti = sorted(persons, key=pagal_varda)
surusiuoti

[Domas: 55, Klaudija: 20, Lukas: 13, Romas: 30]

In [196]:
surusiuoti = sorted(persons, key=pagal_amziu)
surusiuoti

[Lukas: 13, Klaudija: 20, Romas: 30, Domas: 55]

In [203]:
from operator import attrgetter
surusiuoti = sorted(persons, key=attrgetter('vardas'), reverse= True)
surusiuoti

[Romas: 30, Lukas: 13, Klaudija: 20, Domas: 55]